body {
    margin: 0;
    padding: 0;
    background-color: #3e4444;
    height: 100vh;
}

.Cardsize {
    width: 502px;
}

.Cardimage {
    background-color: white;
}

.navbarcard {
    display: flex;
    justify-content: flex-start;
}

.outcard {
    display: flex;
    justify-content: space-around;
}

.conteinerbase {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0px !important;
}

.buttoncolum {
    display: flex;
    flex-direction: column;
}

.list-group {
    max-height: 530px;
    margin-bottom: 10px;
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.laberorder {
    display: flex;
    justify-content: space-around
}

.threepntbtn {
    display: flex;
    justify-content: flex-end;
}